<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.htjs.editor.designmap.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="net.htjs.editor.designmap.Perspective"
            id="net.htjs.editor.designmap.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.htjs.editor.designmap.application"
            name="DesignMap">
         <property
               name="appName"
               value="DesignMap">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.htjs.editor.designmap.editors.DMMutiForm"
            extensions="dm"
            icon="icons/dm.gif"
            id="net.htjs.editor.designmap.editors.DMMutiForm"
            name="DesignMap Editor">
      </editor>
      <editor
            class="net.htjs.editor.designmap.editors.DMDiagramsEditor2"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="net.htjs.editor.designmap.editors.DMDiagramsEditor2"
            name="DMDiagrams Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.htjs.editor.designmap"
            name="DesignMap Wizards">
      </category>
      <wizard
            category="net.htjs.editor.designmap"
            class="net.htjs.editor.designmap.wizards.DesignMapNewWizard"
            icon="icons/dm.gif"
            id="net.htjs.editor.designmap.wizards.DesignMapNewWizard"
            name="DesignMap Editor file">
         <description>
            通过向导生成一个DesignMap文件
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="net.htjs.editor.designmap.contribution1"
            objectClass="org.eclipse.core.resources.IFile"     
            nameFilter="*"       
            sibling_order="&lt;action&#x0D;&#x0A;               class=&quot;net.htjs.editor.designmap.popup.actions.BuilderAction&quot;&#x0D;&#x0A;               enablesFor=&quot;1&quot;&#x0D;&#x0A;               id=&quot;net.htjs.editor.designmap.newAction&quot;&#x0D;&#x0A;               label=&quot;EJB&quot;&#x0D;&#x0A;               menubarPath=&quot;net.htjs.editor.designmap.menu1/group2&quot;&gt;&#x0D;&#x0A;         &lt;/action&gt;">
         <menu
               id="net.htjs.editor.designmap.menu1"
               label="&amp;Builder"
               path="additions">
            <separator
                  name="group3">
            </separator>
            <separator
                  name="group4">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group5">
            </separator>
            <separator
                  name="group6">
            </separator>
         </menu>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;BuildAll"
               menubarPath="net.htjs.editor.designmap.menu1/group1">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;CheckEjb"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;staticDm"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Action"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Js"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Page"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="Bea&amp;n"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Ejb"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Service"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Dao"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;Pojo"
               menubarPath="net.htjs.editor.designmap.menu1/group2">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;RTF"
               menubarPath="net.htjs.editor.designmap.menu1/group3">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="Chec&amp;k"
               icon="icons/rundebug.gif"
               menubarPath="net.htjs.editor.designmap.menu1/group4">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               icon="icons/rundebug.gif"
               id="net.htjs.editor.designmap.newAction"
               label="Check&amp;All"
               menubarPath="net.htjs.editor.designmap.menu1/group4">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="Sp&amp;ring"
               menubarPath="net.htjs.editor.designmap.menu1/group5">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="S&amp;truts"
               menubarPath="net.htjs.editor.designmap.menu1/group5">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="S&amp;qlmap"
               menubarPath="net.htjs.editor.designmap.menu1/group5">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="H&amp;bm"
               menubarPath="net.htjs.editor.designmap.menu1/group5">
         </action>
         <action
               class="net.htjs.editor.designmap.popup.actions.BuilderAction"
               enablesFor="1"
               id="net.htjs.editor.designmap.newAction"
               label="&amp;SplitProject"
               menubarPath="net.htjs.editor.designmap.menu1/group6">
         </action>
      </objectContribution>
   </extension>
	<extension
		point="org.eclipse.ui.views">
		<category
			id="net.htjs.editor.designmap.views"
            name="项目管理器">
		</category>
		<view
            name="Project"
            allowMultiple="true"
            icon="icons/sample.gif"
            category="net.htjs.editor.designmap.views"
            class="net.htjs.editor.designmap.views.ProjectView"
            id="net.htjs.editor.designmap.views.ProjectView">
		</view>
	</extension>
</plugin>
