<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ShareProvider" name="%extension-point.name.2" schema="schema/ShareProvider.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.myfvn.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name.0"
            class="com.myfvn.ui.perspectives.Perspective"
            id="com.myfvn.ui.perspectives.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.myfvn.ui.views"
            name="%category.name.1">
      </category>
      <view
            name="%view.name.0"
            category="com.myfvn.ui.views"
            allowMultiple="true"
            class="com.myfvn.ui.views.FileNavigatorView"
            id="com.myfvn.ui.views.FileNavigatorView">
      </view>
      <view
            name="File"
            category="com.myfvn.ui.views"
            allowMultiple="true"
            class="com.myfvn.ui.views.FileView"
            id="com.myfvn.ui.views.FileView">
      </view>
      <view
            allowMultiple="false"
            category="com.myfvn.ui.views"
            class="com.myfvn.ui.views.HistoryView"
            icon="icons/history_view.gif"
            id="com.myfvn.ui.views.HistoryView"
            name="%view.name.1">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
      		description="%category.description.0"
            name="%category.name.0"
            id="com.myfvn.ui.commands.category">
      </category>
      <command
            name="%command.name.1"
            description="%command.description.1"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.ZoomInCommand">
      </command>
      <command
            name="%command.name.2"
            description="%command.description.2"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.ZoomOutCommand">
      </command>
      <command
            name="%command.name.3"
            description="%command.description.3"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.ZoomResetCommand">
      </command>
      <command
            name="%command.name.4"
            description="%command.description.4"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.FindAction">
      </command>
      <command
            name="%command.name.7"
            description="%command.description.7"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.actions.NewFile">
      </command>
      <command
            name="%command.name.8"
            description="%command.description.8"
            categoryId="net.foreworld.fvn.ui.commands.category"
            id="net.foreworld.ui.actions.showKeyAssist">
      </command>
      <command
            name="%command.name.9"
            description="%command.description.9"
            categoryId="net.foreworld.fvn.ui.commands.category"
            id="net.foreworld.ui.actions.help_contents">
      </command>
      <command
            name="%command.name.10"
            description="%command.description.10"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.actions.SearchAction">
      </command>
      <command
            name="%command.name.34"
            description="%command.description.34"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.ToggleMailsCommand">
      </command>
      <command
            name="%command.name.35"
            description="%command.description.35"
            categoryId="com.myfvn.ui.commands.category"
            id="com.myfvn.ui.FullScreenCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
      		description="%scheme.description.0"
            id="com.myfvn.ui.bindings.scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration"
            name="%scheme.name.0">
      </scheme>
      <key
            commandId="com.myfvn.ui.ZoomInCommand"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1++">
      </key>
      <key
            commandId="com.myfvn.ui.ZoomOutCommand"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+-">
      </key>
      <key
            commandId="com.myfvn.ui.ZoomResetCommand"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+M3+0">
      </key>
      <key
            commandId="com.myfvn.ui.FindAction"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+F">
      </key>
      <key
            commandId="com.myfvn.ui.actions.NewFile"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+D">
      </key>
      <key
            commandId="net.foreworld.ui.actions.showKeyAssist"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+M2+L">
      </key>
      <key
            commandId="net.foreworld.ui.actions.help_contents"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="F1">
      </key>
      <key
            commandId="com.myfvn.ui.actions.SearchAction"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="com.myfvn.ui.ToggleMailsCommand"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="M1+B">
      </key>
      <key
            commandId="com.myfvn.ui.FullScreenCommand"
            schemeId="com.myfvn.ui.bindings.scheme"
            sequence="F11">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.myfvn.ui.application"
            name="%APP_NAME">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/product/logo16.png,icons/product/logo32.png,icons/product/logo48.png,icons/product/logo64.png">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="%APP_NAME">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="AppPref.properties">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="false"
            id="com.myfvn.ui.PropertiesContribution"
            objectClass="java.lang.Object">
         <action
               class="com.myfvn.ui.actions.EntityPropertyDialogAction"
               definitionId="org.eclipse.ui.file.properties"
               id="com.myfvn.ui.actions.EntityPropertyDialogAction"
               label="%action.label.1"
               tooltip="%action.tooltip.1"
               menubarPath="properties">
         </action>
      </objectContribution>
      <objectContribution
      		adaptable="false"
            id="com.myfvn.ui.DeleteContribution"
            objectClass="java.lang.Object">
         <action
               class="com.myfvn.ui.actions.DeleteTypesAction"
               definitionId="org.eclipse.ui.edit.delete"
               enablesFor="+"
               icon="icons/elcl16/remove.gif"
               id="org.eclipse.ui.edit.delete"
               label="%action.label.2"
               menubarPath="edit">
         </action>
         <action
               class="com.myfvn.ui.actions.DeleteTypesAction"
               definitionId="org.eclipse.ui.edit.paste"
               enablesFor="+"
               icon="icons/paste_edit.gif"
               id="org.eclipse.ui.edit.paste"
               label="%action.label.9"
               menubarPath="edit">
         </action>
         <action
               class="com.myfvn.ui.actions.DeleteTypesAction"
               definitionId="org.eclipse.ui.edit.copy"
               enablesFor="+"
               icon="icons/copy_edit_co.gif"
               id="org.eclipse.ui.edit.copy"
               label="%action.label.8"
               menubarPath="edit">
         </action>
      </objectContribution>
      <objectContribution
      		adaptable="false"
            id="com.myfvn.ui.FilterFilesContribution"
            objectClass="java.lang.Object">
         <action
               class="com.myfvn.ui.actions.FilterFilesAction"
               definitionId="com.myfvn.ui.actions.FilterFiles"
               style="push"
               icon="icons/etool16/filter.gif"
               id="com.myfvn.ui.actions.FilterFiles"
               label="%action.label.35"
               menubarPath="find.ext">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.myfvn.ui.ManageExtensions"
            label="%actionSet.label.2"
            visible="true">
         <action
               class="com.myfvn.ui.actions.FindUpdatesAction"
               definitionId="com.myfvn.ui.actions.FindUpdates"
               icon="icons/elcl16/updates.gif"
               id="com.myfvn.ui.actions.FindUpdates"
               label="%action.label.17"
               menubarPath="help/helpEnd"
               style="push"
               tooltip="%action.tooltip.17">
            <enablement>
               <not>
                  <systemProperty
                        name="disableUpdate"
                        value="true">
                  </systemProperty>
               </not>
            </enablement>
         </action>
         <action
               class="com.myfvn.ui.actions.FindExtensionsAction"
               definitionId="com.myfvn.ui.actions.FindExtensions"
               icon="icons/elcl16/usearch_obj.gif"
               id="com.myfvn.ui.actions.FindExtensions"
               label="%action.label.18"
               menubarPath="tools/extensions/findExtensions"
               style="push"
               tooltip="%action.tooltip.18"/>
         <action
               class="com.myfvn.ui.actions.ManageConfigurationAction"
               definitionId="com.myfvn.ui.actions.ManageConfiguration"
               icon="icons/elcl16/configs.gif"
               id="com.myfvn.ui.actions.ManageConfiguration"
               label="%action.label.19"
               menubarPath="tools/extensions/manageConfiguration"
               style="push"
               tooltip="%action.tooltip.19"/>
         <menu
               id="extensions"
               label="%menu.label.2"
               path="tools/addons">
            <separator name="extensionsBegin"/>
            <groupMarker name="findExtensions"/>
            <separator name="extensionsEnd"/>
            <groupMarker name="manageConfiguration"/>
         </menu>
      </actionSet>
      <actionSet
            id="com.myfvn.ui.FileSet"
            label="%actionSet.label.1"
            visible="true">
         <action
               class="com.myfvn.ui.actions.ExportAction"
               definitionId="com.myfvn.ui.actions.Export"
               icon="icons/etool16/export.gif"
               id="com.myfvn.ui.actions.Export"
               label="%action.label.6"
               menubarPath="file/additions"
               style="push"
               tooltip="%action.tooltip.6"/>
         <action
               class="com.myfvn.ui.actions.ImportAction"
               definitionId="com.myfvn.ui.actions.Import"
               icon="icons/etool16/import.gif"
               id="com.myfvn.ui.actions.Import"
               label="%action.label.5"
               menubarPath="file/additions"
               style="push"
               tooltip="%action.tooltip.5"/>
         <action
               class="com.myfvn.ui.actions.NewFileAction"
               definitionId="com.myfvn.ui.actions.NewFile"
               icon="icons/file_obj.gif"
               id="com.myfvn.ui.actions.NewFile"
               label="%action.label.3"
               menubarPath="file/new_sub/file"
               style="push">
         </action>
         <action
               class="com.myfvn.ui.actions.NewEmailAccountAction"
               definitionId="com.myfvn.ui.actions.NewEmailAccount"
               icon="icons/emailaccount.png"
               id="com.myfvn.ui.actions.NewEmailAccount"
               label="%action.label.4"
               menubarPath="file/new_sub/emailaccount"
               style="push">
         </action>
         <action
               class="com.myfvn.ui.actions.NewFolderAction"
               definitionId="com.myfvn.ui.actions.NewFolder"
               icon="icons/obj16/folder_new.gif"
               id="com.myfvn.ui.actions.NewFolder"
               label="%action.label.7"
               menubarPath="file/new_sub/folder"
               style="push">
         </action>
         <menu
               id="new_sub"
               label="%menu.label.1"
               path="file/new.ext">
            <groupMarker
                  name="file" />
            <groupMarker
                  name="folder" />
            <separator
            	  name="emailaccount" />
         </menu>
      </actionSet>
      <actionSet
            id="com.myfvn.ui.CleanUpSet"
            label="%actionSet.label.4"
            visible="true">
         <action
               class="com.myfvn.ui.actions.CleanUpAction"
               definitionId="com.myfvn.ui.actions.CleanUp"
               id="com.myfvn.ui.actions.CleanUp"
               label="%action.label.24"
               menubarPath="tools/cleanup">
         </action>
      </actionSet>
      <actionSet
            id="com.myfvn.ui.NewsFiltersSet"
            label="%actionSet.label.5"
            visible="true">
         <!--action
               class="com.myfvn.ui.actions.OpenNewsFiltersAction"
               definitionId="com.myfvn.ui.actions.OpenNewsFilters"
               icon="icons/etool16/filter.gif"
               id="com.myfvn.ui.actions.OpenNewsFilters"
               label="%action.label.25"
               menubarPath="tools/filter">
         </action-->
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.myfvn.ui.views.editors.email.EmailView"
            default="false"
            icon="icons/file16.png"
            id="com.myfvn.ui.EmailView"
            matchingStrategy="com.myfvn.ui.views.editors.email.EmailViewMatcher"
            name="%editor.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.myfvn.ui.preferences.SharingPreferencesPage"
            id="com.myfvn.ui.SharingPreferencesPage"
            name="%page.name.1">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.myfvn.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.myfvn.core.PreferencesInitializer">
      <preferencesInitializer
            class="com.myfvn.ui.PreferencesInitializer">
      </preferencesInitializer>
   </extension>
   <extension
         point="com.myfvn.ui.ShareProvider">
      <shareProvider
            enabled="false"
            icon="icons/obj16/share_google.gif"
            id="com.myfvn.ui.GoogleShareProvider"
            name="%shareProvider.name.7"
            url="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=[L]&amp;title=[T]">
      </shareProvider>
   </extension>

</plugin>
