*{
margin:0;
padding:0;
}
p{
	margin-top: 3px;
}
body{
background:#3A8CBE url(images/loginbg.jpg)  no-repeat center top;
}
#loginForm{
	width:960px;
	height:289px;
	background-image: url(images/loginframe.jpg);
	background-repeat: no-repeat;
}
.login_wrap{
	width:960px;
	height:289px;
	margin:140px auto;
	position:relative;
	background-repeat: no-repeat;
}
#loginForm2{
position:absolute;
right:0px;
top:55px;
width:320px;
height:200px;
_top:65px;
}
.Row{
margin:10px 0;
_margin:0;
background:url(images/input_bg.png) no-repeat;
width:282px;
height:30px;
_margin-bottom:-6px;
}

.Row input{
vertical-align:middle;
width:200px;
height:23px;
margin-top:6px;
_margin-top:3px;
border:0;
background:none;
}
label{
font-size:12px;
color:#666;
width:60px;
text-align:right;
display:inline-table;
margin-top:5px;
vertical-align:middle;
text-indent:6px;
}
.RowV{
position:relative;
width:280px;
height:30px;
margin-bottom:15px;
_margin-bottom:-6px;
}
.RowV img{
position:absolute;
left:160px;
height:27px;
top:2px;
}
.RowV p{
background:url(images/yzm_input.png) no-repeat;
width:156px;
height:30px;
}
.RowV p input{
vertical-align:middle;
width:80px;
height:23px;
margin-top:3px !important;
*margin-top:3px;
margin-top:6px;
_margin-top:3px;
border:0;
background:none;
}
.Button input{
background:url(images/submit_btn.jpg) no-repeat;
width:118px;
height:34px;
border:0;
line-height:34px;
font-weight:bold;
color:#fff;
font-size:14px;
}
.Button input:hover{
background:url(images/submit_btn_over.jpg) no-repeat;
width:118px;
height:34px;
border:0;
}
.Message{
font-size:12px;
color:#ff0000;
width:280px;
text-align:center;
margin-top:15px;
}
.flash-mc{
width:576px;
height:227px;
position:absolute;
left:15px;
top:40px;
}