*{
margin:0;
padding:0;
}   
 /* This needs to be first because FF3 is now supporting this  */
.clearfix {display: inline-block;}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
html{color:#666;background:#fff;overflow:auto;overflow-y:scroll;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%; z-index:-1;}
input.text{line-height:18px;height:13px;}
legend{color:#000;}
br{letter-spacing:0px;}
a{text-decoration:none;}

p{margin:0 0 20px 0;line-height:22px;}
.center{margin:0px auto;}
.central{text-align:center !important;}
.left{float:left;}
.right{float:right;}
.textleft{ text-align:left; }
.textright{ text-align:right; }
.middle{vertical-align:middle;}
.clear{float:none; clear:both;font-size:0px;line-height:0px;height:0px; min-height:0px; padding:0px; margin:0px; overflow:hidden;}
.hide{display:none;}
.master{width:1000px;}
.hr{height:1px;line-height:0px;font-size:0px;border-top:solid 1px #f1f1f1;margin-top:10px;}
.inline{ display:inline; }
.hand{cursor:pointer;}
a{ outline:none; color:#069; }
a img{border:none;}
a:hover{ text-decoration:underline; }

body{ font-size:12px; font-family:Arial, Helvetica, sans-serif; background-color:#fff; line-height:22px;
background:url(../images/bodybg.jpg) repeat-x top; }

/* site wide */
a.expand { display:block; float:right; font-size:12px; height:18px; line-height:18px; vertical-align:middle; *width:90px; width:auto !important; }
img.iconTick{ margin-left:5px; vertical-align: middle; }
span.HighlightSearch {font-weight:bold;}
#top-header{width:auto !important;height: 32px; min-width:960px; position: relative;background: url(../images/p_navbg.png) repeat-x; background-color: #f8f8f8;border-top: 1px solid #8ea3bf; border-bottom: 1px solid #8ea3bf;}
#menu { min-width: 1000px; width:auto !important; position: relative;z-index: 10; }
#menu .nav { min-width: 980px;margin: 0 auto; margin-left:310px; height: 32px;  position:absolute; z-index: 100;}
#menu .nav ul {float: left; }
#menu li {float: left; display: block; overflow: visible; vertical-align: top;}

.nav a{color:#333; cursor:pointer;}
.nav a.trad, .nav a.solutions_products, .nav a.support, .nav a.about_huawei, .nav a.join_huawei,.nav a.shop_huawei {display: block; line-height: 32px; text-decoration:none; color:#2B4365; font-size:12px; text-align:center; position:relative; z-index:1007;}
.nav a.trad span, .nav a.solutions_products span, .nav a.support span, .nav a.about_huawei span, .nav a.join_huawei span ,.nav a.shop_huawei span{display: block; height:33px; margin-left: 2px; width:auto; text-shadow:#fff 1px 1px 0px; padding:0 22px 0 22px;}
.nav li a.hover{color:#0C52CE; background-image:url(../images/hw_s_232053.png); background-repeat: no-repeat; background-position: 0 -85px; background-color:transparent; margin-top: 0px; line-height: 32px;}
.nav li a.hover span{background-image:url(../images/hw_s_232053.png); background-repeat:no-repeat; background-position:100% -18px; background-color:transparent; color:#0C52CE;}
.nav li a.active span{color: #0C52CE;}
/*take off background*/
.nav a.shop_huawei:hover,.nav li a.shop_huawei:hover span{background:none;}

.menuitempanel {top: 33px; position: absolute; z-index: 1000; display: none; left: 0px; -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.3); box-shadow: 2px 2px 6px rgba(0,0,0,.3); border-bottom-right-radius: 12px; border-bottom-left-radius: 12px;}
.menuright{right:0px; left:auto;}
.menucontentdiv {background: #fff url(../images/hw_s_232057.png) 0 0 repeat-x; border-left: 1px solid #CCC; margin-right: 7px; padding: 20px 20px 0 30px; width:auto; height:100%; border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
.menucontentdiv .clearfix{ padding-bottom:10px; position:relative;}
.menufillet_s, .menufillet_w, .menufillet_e, .menufillet_se, .menufillet_sw{position: absolute;zoom: 1;display: block;overflow: hidden;
background-attachment:scroll; background-color:transparent; z-index: 999; width: 10px;height: 10px;}
.menufillet_e { background-image: url(../images/hw_s_232058.png);background-repeat: repeat-y; _background:transparent; height: 100%; right: 0px; top: 0; width: 7px;}
.verticalLine{ background-color:#FFFFFF; border-left:#cfcfcf solid 1px; width:1px; height:100%; left:200px; top:0px; float:left; min-height:200px; height:200px; margin:0 45px;}
#menu .menuitempanel li {float: none; top: 0; line-height:24px;}
#menu .menuitempanel li.left {float: left;}
.menuitempanel h2 {color: #bb0000; font-size: 16px;font-weight: bold; padding-bottom:10px;}
.menuitempanel h2 a {color: #005ca1;}
.menuitempanel ul li a{ color:#666;}
.menuitempanel ul.taxonomy { margin-left: -5px;}
#menu .menuitempanel ul.taxonomy li {font-size: 14px; font-weight: bold; text-indent: 10px; line-height: 32px;}
.menuitempanel ul.taxonomy li a{ color:#333;}
.menuitempanel ul.m_box li.title {font-weight: bold; margin-top: 5px;}
.menuitempanel ul.m_box li.summary { width:259px; font-weight: normal;}
#menu .menuitempanel ul.m_box li.summary ul {padding: 0 0; float:none;}
.menuitempanel .solutions_products ul.m_box li.summary{ padding:0 0 0 2px;}
.menuitempanel .solutions_products ul.m_box li.left{ margin-right:15px;}
.menuitempanel ul.list {margin-right: 45px;}
.menuitempanel ul > li.left > ul {margin-right: 45px;}
.menuitempanel ul.list h3 {padding: 0px 0px 0px 0px;}
.menuitempanel ul.list h3 a {color: #333333;font-size: 14px;font-weight: bold;}
.menuitempanel .solutions_products ul.m_box li.last, .menuitempanel ul.last,.menuitempanel ul li ul.last { margin:0px;}

.shadow_b_layout {background-image: url(../images/hw_s_232053.png); background-attachment: scroll; background-repeat: no-repeat; background-position: 0 -67px; position: absolute; width: 100%; left: 0px;}
.shadow_b_layout div {background: url(../images/hw_s_232053.png) 100% -1px no-repeat;background-attachment: scroll;display: block;height: 16px;margin-left: 15px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.shadow_b_layout, .menufillet_e{ display:none;}
.menucontentdiv{ margin-right:0px;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;}
.menucontentdiv .clearfix{ padding-bottom:15px;}
}
@-moz-document url-prefix(){
.shadow_b_layout, .menufillet_e{ display:none;}
.menucontentdiv{ margin-right:0px;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;}
.menucontentdiv .clearfix{ padding-bottom:15px;}
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
.shadow_b_layout, .menufillet_e{ display:none;}
.menucontentdiv{ margin-right:0px;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;}
.menucontentdiv .clearfix{ padding-bottom:15px;}
}/*opera&#19987;&#23646;*/
:root .shadow_b_layout, :root .menufillet_e {display:none\9;}/*IE9&#19987;&#23646;*/
:root .menucontentdiv{ margin-right:0px\9;border-right: 1px solid #CCC\9;border-bottom: 1px solid #CCC\9;}
:root .menucontentdiv .clearfix{ padding-bottom:15px\9;}
.m_tabel1{
height:24px;
background:url(../images/mcon_tbg1.png) repeat-x;
border:1px solid #B0C6E3;
margin-top:5px;
}

.list_table{
border:1px solid #B0C6E3;
background:#fff;
margin-top:10px;
margin-bottom:6px;
}
.list_table td{
border-right:1px solid #C0D6F3;
border-bottom:1px solid #C0D6F3;
border-collapse:collapse;
height:24px;
text-indent:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.list_table .list_table_title td{
height:29px;
background:url(../images/list_title_bg.png) repeat-x;
line-height:29px;
color:#333;
text-align:center;
text-indent:0
}
.three_btn{
margin-left:10px;
}
.three_btn li{
float:left;
margin-right:10px;
line-height:24px;
background:url(../images/vline1.png) no-repeat right center;
padding-right:10px;
text-align:center;
text-align:center;
}
.three_btn li img{
vertical-align:middle;
margin-right:3px;
}
.sure_btn{
width:55px;
height:24px;
line-height:24px;
background:url(../images/ok_btn.png) no-repeat;
border:0;
color:#333;
margin-left:5px;
}
.text_input{
height:20px;
line-height:20px;
width:170px;
background:#FAFCFE;
border:1px solid #B0C6E3;
}
.check_box{
background:url(../images/checkbox_bg.png) no-repeat;
width:13px;
height:13px;
border:0;
}
.list_table .fenye_table td{
border:0;
}
.past_nav dd{
	display:none;
	width:100px;
	background:#fff;
	border:1px solid #C0D6F3;
}
.past_nav dl{
	position:absolute;
    right:10px;
	z-index:10;

}
.past_nav dl:hover dd,a:hover dd{
	display:block;
}
.past_nav a{
color:#333;
}
.past_nav a:hover{
	border:0;
}
.m_help{
display:block;
background:url(../images/p_help.png) no-repeat;
float:left;
width:26px;
height:25px;
}
.m_help:hover{
background:url(../images/p_help_over.png) no-repeat;
}
.m_quit{
display:block;
background:url(../images/p_quit.png) no-repeat;
float:right;
width:26px;
height:25px;
}
.m_quit:hover{
background:url(../images/p_quit_over.png) no-repeat;
}

.p_ofenn{
width:99px;
height:34px;
position:absolute;
z-index:99;
left:200px;
background:url(../images/often.png) no-repeat;
top:-1px;
}
.p_often_menu{
background:url(../images/p_often_secbg.png) repeat-x;
border-bottom:1px solid #8ea3bf;
min-width:960px;
overflow:hidden;
}
.p_often_sec{
height:68px;
}
.p_often_sec li{
float:left;
width:87px;
margin-top:4px;
background:url(../images/sec_vline.png) no-repeat  right center;
position:relative;
}
.p_often_sec li a{
color:#555;
text-align:center;
display:block;
}
.often_img{
display:block;
height:40px;
}
.p_logo{
height:28px;
background:url(../images/p_logo_rbg.png) no-repeat right;
position:absolute;
left:6px;
z-index:99;
padding-right:10px;

}
.p_logo_lbg{
background:url(../images/p_logo_lbg.png) no-repeat; 
display:block; 
width:5px;
height:28px;
}
.p_logo h1 {
float:right;
}
.p_logo h1 a{
float:right;
margin-left:5px;
font-family:"ו";
color:#fff;
font-weight:bold;
font-size:14px;
line-height:25px;
background:url(../images/p_logo.png) no-repeat left center;
padding-left:22px;
}


.bread_nav{
height:26px;
background:url(../images/bread_nav.png) repeat-x;
border-bottom:1px solid #8ea3bf;
text-indent:8px;
color:#999;
line-height:26px;
font-family:Verdana, Arial, Helvetica, sans-serif;
position:relative;
text-align:left;
}
.current_address{
position:absolute;
left:0;
}
.bread_nav a,.bread_nav a:visited{
color:#999;
}
.past_nav{
position:absolute;
right:10px;
top:5px;
}
.p_help_cancel{
position:absolute;
right:2px;
width:63px;
top:3px;
height:25px;
}
.p_help_cancel a{
margin:0 5px 0 0;
width:26px;
height:25px;
display:block;
}
#menu .nav .m_nav_sec{
width:500px;
}
#menu .nav .m_nav_sec ul li{
float:left;
margin:5px;
display:block;
padding:0 5px;
}
#menu .nav .m_nav_sec ul li a{
display:block;
text-align:center;
}
 .m_box_span{
 display:inline-table;
 text-align:right;
 width:60px;
 font-weight:normal;
 vertical-align:middle;
 }
 .btn1{
 width:65px;
 height:29px;
 border:0;
 background:url(../images/btnbg1.png) no-repeat;
 line-height:29px;
 text-align:center;
 font-size:14px;
 font-weight:bold;
 color:#333;
}
.main_con{
background:#FAFBFD url(../images/main_conbg.jpg) repeat-x;
height:100%;
padding:10px;
}
.sec_down_con{
position:absolute;
right:10px;
top:20px;
background:url(../images/sec_down_arrow.png) no-repeat;
width:11px;
height:11px;
}
.p_logo a{
color:#fff;
text-decoration:none;
}
.open_window{
width:400px;
border:1px solid #8EA3BF;
}
.open_window_title{
height:27px;
background:url(../images/copyright_bg.png) repeat-x;
border-bottom:1px solid #8EA3BF;
line-height:27px;
}
.txt14_333_bold{
font-size:14px;
font-weight:bold;
color:#333;
}
.btn_submit{
padding:0 10px;
font-size:12px;
color:#36466F;
height:23px;
border:0;
background:url(../images/btnbg2.png) repeat-x;
line-height:23px;
margin:0 5px;
border:1px solid #8EA3BF;

}