<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.foreworld.rss2.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="net.foreworld.rss2.Perspective"
            id="net.foreworld.rss2.perspective">
      </perspective>
      <perspective
            class="net.foreworld.rss2.perspectives.RssPerspective"
            id="net.foreworld.rss2.perspectives.RssPerspective"
            icon="icons/ieframe_31064.gif"
            name="RSS聚合">
      </perspective>
      <perspective
            class="net.foreworld.rss2.perspectives.IMPerspective"
            icon="icons/im.gif"
            id="net.foreworld.rss2.perspectives.IMPerspective"
            name="IM 即时通讯">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.foreworld.rss2.views"
            name="RSS聚合">
      </category>
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="net.foreworld.rss2.View"
            id="net.foreworld.rss2.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="net.foreworld.rss2.NavigationView"
            id="net.foreworld.rss2.navigationView">
      </view>
      <view
            allowMultiple="true"
            class="net.foreworld.rss2.views.ChannelNavigatorView"
            icon="icons/QuickReader_405.ico"
            id="net.foreworld.rss2.views.ChannelNavigatorView"
            category="net.foreworld.rss2.views"
            name="频道导航">
      </view>
      <view
            allowMultiple="true"
            class="net.foreworld.rss2.views.DetailListView"
            icon="icons/ieframe_31064.gif"
            id="net.foreworld.rss2.views.DetailListView"
            category="net.foreworld.rss2.views"
            name="RSS频道">
      </view>
      <view
            allowMultiple="true"
            class="net.foreworld.rss2.views.IEView"
            icon="icons/Explorer_253.gif"
            id="net.foreworld.rss2.views.IEView"
            category="net.foreworld.rss2.views"
            name="浏览器">
      </view>
      <view
            allowMultiple="true"
            class="net.foreworld.rss2.views.FavoritesView"
            icon="icons/favorits.ico"
            id="net.foreworld.rss2.views.FavoritesView"
            category="net.foreworld.rss2.views"
            name="收藏夹">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Foreworld"
            id="net.foreworld.rss2.commands"
            name="Foreworld">
      </category>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="删除"
            id="net.foreworld.rss2.bindings.command.delete"
            name="删除">
      </command>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="退出"
            id="net.foreworld.rss2.bindings.command.exit"
            name="退出">
      </command>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="频道属性"
            id="net.foreworld.rss2.bindings.command.properties"
            name="频道属性">
      </command>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="添加频道"
            id="net.foreworld.rss2.bindings.command.addchannel"
            name="添加频道">
      </command>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="新增频道组"
            id="net.foreworld.rss2.bindings.command.addchannelgroup"
            name="新增频道组">
      </command>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="搜索"
            id="net.foreworld.rss2.bindings.command.search"
            name="搜索">
      </command>
      <command
            categoryId="net.foreworld.rss2.commands"
            description="动态帮助"
            id="net.foreworld.rss2.bindings.command.dynamic_help"
            name="动态帮助">
      </command>
	  <command
			categoryId="net.foreworld.rss2.commands"
			description="打开新窗口"
			id="net.foreworld.rss2.bindings.command.open_new_window"
			name="打开新窗口">
	  </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="net.foreworld.rss2.bindings"
            name="Foreworld">
      </scheme>
      <key
            commandId="org.eclipse.ui.edit.delete"
            schemeId="net.foreworld.rss2.bindings"
            sequence="Delete">
      </key>
      <key
            commandId="net.foreworld.rss2.bindings.command.exit"
            schemeId="net.foreworld.rss2.bindings"
            sequence="Ctrl+X">
      </key>
      <key
            commandId="org.eclipse.ui.file.closeAll"
            schemeId="net.foreworld.rss2.bindings"
            sequence="M1+M2+W">
      </key>
      <key
            commandId="org.eclipse.ui.file.close"
            schemeId="net.foreworld.rss2.bindings"
            sequence="M1+W">
      </key>
      <key
            commandId="org.eclipse.ui.edit.selectAll"
            schemeId="net.foreworld.rss2.bindings"
            sequence="M1+A">
      </key>
      <key
            commandId="net.foreworld.rss2.bindings.command.properties"
            schemeId="net.foreworld.rss2.bindings"
            sequence="M3+Enter">
      </key>
      <key
            commandId="org.eclipse.ui.window.showKeyAssist"
            schemeId="net.foreworld.rss2.bindings"
            sequence="M1+M2+L">
      </key>
      <key
            commandId="net.foreworld.rss2.bindings.command.addchannel"
            schemeId="net.foreworld.rss2.bindings"
            sequence="F4">
      </key>
      <key
            commandId="net.foreworld.rss2.bindings.command.addchannelgroup"
            schemeId="net.foreworld.rss2.bindings"
            sequence="F6">
      </key>
      <key
            commandId="net.foreworld.rss2.bindings.command.search"
            schemeId="net.foreworld.rss2.bindings"
            sequence="F3">
      </key>
      <key
            commandId="net.foreworld.rss2.bindings.command.dynamic_help"
            schemeId="net.foreworld.rss2.bindings"
            sequence="F1">
      </key>
	  <key
			commandId="net.foreworld.rss2.bindings.command.open_new_window"
			schemeId="net.foreworld.rss2.bindings"
			sequence="Ctrl+N">
	  </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.foreworld.rss2.application"
            name="RSS聚合浏览器 Ver1.0">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/ieframe_31064.gif,icons/ieframe_31064_32.gif">
         </property>
         <property
               name="aboutImage"               
               value="product_lg.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="AppPref.properties">
         </property>
         <property
               name="startupProgressRect"
               value="1,279,453,15">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupMessageRect"
               value="6,260,200,16">
         </property>
         <property
               name="appName"
               value="RSS聚合浏览器 Ver1.0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.foreworld.rss2.fileSet"
            label="File"
            visible="true">
         <menu
               id="import_sub"
               label="导入(&amp;I)"
               path="file/import.ext">
            <groupMarker
                  name="channel">
            </groupMarker>
            <separator
                  name="favorites">
            </separator>
         </menu>
         <action
               class="net.foreworld.rss2.actions.ImportChannelListAction"
               icon="icons/import.gif"
               id="net.foreworld.rss2.actions.ImportChannelListAction"
               label="%ImportChannelListAction_Text"
               menubarPath="file/import_sub/channel"
               style="push"
               tooltip="%ImportChannelListAction_Tip">
         </action>
         <action
               class="net.foreworld.rss2.actions.ImportFavoritesAction"
               icon="icons/import.gif"
               id="net.foreworld.rss2.actions.ImportFavoritesAction"
               label="%ImportFavoritesAction_Text"
               menubarPath="file/import_sub/favorites"
               style="push"
               tooltip="%ImportFavoritesAction_Tip">
         </action>
         <menu
               id="export_sub"
               label="导出(&amp;E)"
               path="file/export.ext">
            <groupMarker
                  name="channel">
            </groupMarker>
            <separator
                  name="favorites">
            </separator>
         </menu>
         <action
               class="net.foreworld.rss2.actions.ExportChannelListAction"
               icon="icons/export.gif"
               id="net.foreworld.rss2.actions.ExportChannelListAction"
               label="%ExportChannelListAction_Text"
               menubarPath="file/export_sub/channel"
               style="push"
               tooltip="%ExportChannelListAction_Tip">
         </action>
         <action
               class="net.foreworld.rss2.actions.ExportFavoritesAction"
               icon="icons/export.gif"
               id="net.foreworld.rss2.actions.ExportFavoritesAction"
               label="%ExportFavoritesAction_Text"
               menubarPath="file/export_sub/favorites"
               style="push"
               tooltip="%ExportFavoritesAction_Tip">
         </action>
      </actionSet>
      <actionSet
            id="net.foreworld.rss2.helpSet"
            label="Help"
            visible="true">
         <action
               class="org.eclipse.ui.internal.handlers.ShowKeyAssistHandler"
               definitionId="org.eclipse.ui.window.showKeyAssist"
               id="org.eclipse.ui.actions.showKeyAssistHandler"
               label="%HotKey_Text"
               menubarPath="help/hotkey"
               style="push"
               tooltip="%HotKey_Tip">
         </action>
      </actionSet>
      <actionSet
            id="net.foreworld.rss2.windowSet"
            label="Window"
            visible="true">
         <menu
               id="showview_sub"
               label="Show &amp;View"
               path="window/showview.ext">
         </menu>
      </actionSet>
   </extension>

</plugin>
