#_capec_sys_userautoextattr {
	height: 100%;
	width: 100%;
	font-size: 12px;
}

#_capec_sys_userautoextattr_top {
	margin: 0;
	padding: 0px;
}

#_capec_sys_userautoextattr_lGrid {
	margin: 0;
	padding: 0;
}